<div id="main">
  <div class="container-fluid">
    <h1>Install</h1>
    <p>
      To add this template library to your dashboard, add the following URL
      to your template sources list:
    </p>
    <pre>{{source_url}}</pre>
  </div>
</div>
