<ul class="nav">
  <li{{#if templates}} class="active"{{/if}}>
    <a href="#/"><i class="icon-paste"></i> Templates</a>
  </li>
  <li{{#if install}} class="active"{{/if}}>
    <a href="#/install"><i class="icon-download-alt"></i> Install</a>
  </li>
  <li{{#if upload}} class="active"{{/if}}>
    <a href="#/upload"><i class="icon-upload-alt"></i> Upload</a>
  </li>
</ul>
