<div id="main">
  <div class="container-fluid">
    <h1>Upload</h1>
    <p>
      To add or update a template, push your couchapp to the following URL:
    </p>
    <pre>{{upload_url}}</pre>
  </div>
</div>
